<div class="container col-lg-12" id="caja">
  <div class="row" id="cabecera">
      <div class="col-lg-4">
          <img src="assets/img/lm.png" alt="logo" id="logo">
          
      </div>
      <div class="col-lg-5">
        
        
    </div>
      <div class="col-lg-3">
       
        
    </div>
      
      
  </div>
  <div class="row menu">
      <div class="col-lg-3 men"><a href="#" routerLink="/"><b>Inicio</b></a></div>
      <div class="col-lg-3 men"><a href="#" routerLink="/productos"><b>Celulares</b></a></div>
      <div class="col-lg-3 men"><a href="#" routerLink="/especiales"><b>Promociones</b></a></div>
      <div class="col-lg-3 men"><a href="#" routerLink="/descripciones"><b>Accesorios</b></a></div>
      
  </div>
  <div class="row" id="middle">
      
          <div class="col-lg-6">
            <img src="assets/img/cel.jpg" alt="banner" >
          </div>

      <div class="col-lg-6" id="let">
          <p><b>Confie En
              MoviSarai</b></p>
          
          <h5>-Sus Expertos En Celulares</h5>
          <h5>-Su Seguridad</h5>
          <h5>-Su Mejor Opcion</h5>
          <h5>-Su Tranquilidad</h5>
          <h5>-Su Comunicación</h5>
          <h5>-Sus Precios Bajos</h5>
      </div>
      
  
  </div>

  <router-outlet></router-outlet>
  <br>

  <div class="row" id="middle">
      
      <div class="col-lg-6">
        <img src="assets/img/te.jpg" alt="banner" >
      </div>

  <div class="col-lg-6" id="let">
      <p><b>Servicio Tecnico</b></p>
      
      <h5>Contamos con un grupo de tecnicos expertos en celulares capaces de resolver todos sus problemas con los productos que se venden tambien tenemos un grupo de personas que le daran
        una explicacion de como puede usar nuestro productos.
      </h5>
  </div>
  

</div>
<br>
<div class="row" id="middle">
    <div class="col-lg-7" id="let">
        <p><b>Locales Al Paso</b></p>
        
        <h5>Contamos con muchos Locales en tido el Perú para poder concetarnos con mas gente y estar mas cerca de nuestros clientes.</h5>
    </div>
      
    <div class="col-lg-4">
      <img src="assets/img/ti.jpeg" alt="banner" >
    </div>
</div>
<br>
<div class="row" id="middle">
    <div class="col-lg-12" id="footer">       
        <h6>copyright © MoviSarai 2019 Celulares Juliaca-Perú</h6>
    </div>
      
    
</div>


