<div class="col-lg-12 medio">
        <b><p>PRODUCTOS !!</p></b>
</div>

<div class="productos">
      <div class="item">
          <img src="assets/img/h1.png" alt="01">
          <br>
          <p>$255</p>
          <b><p>Huawei P10</p></b>
          
      </div>
      <div class="item">
          <img src="assets/img/h2.png" alt="02">
          <br>
          <p>$450</p>
          <b><p>Huawei M20</p></b>
          
      </div>
      <div class="item">
          <img src="assets/img/h3.png" alt="03">
          <br>
          <p>$350</p>
          <b><p>Huawei Y7</p></b>
         
      </div>
      <div class="item">
          <img src="assets/img/h4.png" alt="04">
          <br>
          <p>$850</p>
          <b><p>Huawei Leyca</p></b>
          
      </div>
      <div class="item">
          <img src="assets/img/h5.png" alt="05">
          <br>
          <p>$1110</p>
          <b><p>Samsung S10</p></b>
          
      </div>
      <div class="item">
          <img src="assets/img/h6.png" alt="06">
          <br>
          <p>$350</p>
          <b><p>Samsung j2 Prime</p></b>
          
      </div>
      <div class="item">
          <img src="assets/img/m1.png" alt="07">
          <br>
          <p>$260</p>
          <b><p>LG K10</p></b>
         
      </div>
      <div class="item">
          <img src="assets/img/m2.png" alt="08">
          <br>
          <p>$450</p>
          <b><p>LG G4</p></b>
          
      </div>
    <div class="item">
        <img src="assets/img/m3.png" alt="05">
        <br>
        <p>$580</p>
        <b><p>LG G7 Stylus</p></b>
        
    </div>
    <div class="item">
        <img src="assets/img/m4.png" alt="06">
        <br>
        <p>$350</p>
        <b><p>LG K8</p></b>
        
    </div>
    <div class="item">
        <img src="assets/img/m5.png" alt="07">
        <br>
        <p>$450</p>
        <b><p>LG G5</p></b>
       
    </div>
    <div class="item">
        <img src="assets/img/m6.png" alt="08">
        <br>
        <p>$350</p>
        <b><p>K8 2017</p></b>
        
    </div>
    <div class="item">
        <img src="assets/img/m7.png" alt="01">
        <br>
        <p>$280</p>
        <b><p>LG Stylus 3</p></b>
        
    </div>
    <div class="item">
        <img src="assets/img/m8.png" alt="02">
        <br>
        <p>$460</p>
        <b><p>LG K10</p></b>
        
    </div>
  
  </div>